@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
}
.navbar {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: fixed;
}
#nav{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
}
.leftcontainer{
    background-color: #262525;
    width: 70vw;
    height: 100vh;
}
.rightcontainer{
    background-color: #3877ff;
    width: 30vw;
    height: 100vh;
}
.text{
    font-family: "Poppins", sans-serif;
    position: absolute;
    margin-top: 25vh;
    margin-left: 10vw;
    color: #fff;
}
.text h1{
    font-size: 2.8rem;
    color: #00BCEF;
}
.text h1::first-letter{
    font-size: 5rem;
}
#about{
    margin-right: 60vw;
    font-size:0.9rem;
    font-weight:600;
    word-spacing: 2px;
}
#name{
    font-size: 1rem;
}
#name span{
    color: #00BCEF;
    font-weight: 600;
    font-size: 1.5rem;
}
